<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Page d'Acceil</title>
</head>
<body>

	<a href="{% url 'shop_app:maillots' %}">Liste des maillots</a>
	{% for product in products %}
  	<div class="col-12">
  		<a href="{% url 'shop_app:product' product.id %}">{{ product.name }}</a>
  		<h3>{{ product.name }} - ${{ product.price }} {{ product.description }}</h3>
  	</div>

	{% endfor %}
</body>
</html>